<template>
    <div class="IsolationAgentsWrapper">
        <div class="countriesWrapper" v-for="(data,key) in isolationAgents" :key="key">
            <h2 v-text="`country Name: ${data.country}, with: ${data.withNumber} isolated agents`"></h2>
        </div>
        <h2 v-if="!isolationAgents.length">country without isolated agents</h2>
    </div>
</template>

<script>
    import Helper from "../assets/Helper"
    import DataProvider from "../store/DataProvider"

    export default {
        name: "IsolationAgents",
        data() {
            return {
                helper: new Helper
            }
        },
        computed: {
            isolationAgents() {
                return this.helper.getCountryIsolationAgent(DataProvider.getData())
            }
        }
    }
</script>

<style scoped>
.IsolationAgentsWrapper{
    text-align: center;
}
    h2{
        color: #584eff;

    }
</style>