<template>
    <div>
        <div class="missionsReportWrapper">
            <table>
                <tr>
                    <th>Agent Id</th>
                    <th>Country</th>
                    <th>Address</th>
                    <th>Data</th>
                </tr>

                <tr v-for="(data,key) in showData" :key="key" :id="`row${data.id}`">
                    <td v-text="data.agent"></td>
                    <td v-text="data.country"></td>
                    <td v-text="data.address"></td>
                    <td v-text="data.date"></td>
                </tr>

                <tr class="lastRow">
                    <td colspan="4" v-text="`${numberMission} missions`"></td>
                </tr>
            </table>
        </div>
        <button @click="closestAndFarthest" class="distanceBtn">Bonus->10 Downing st. London</button>
    </div>

</template>

<script>
    import DataProvider from "../store/DataProvider"

    export default {
        name: "MissionsReport",
        computed: {
            showData() {
                return DataProvider.getData().sort((d1, d2) =>
                    new Date(d1.date).getTime() - new Date(d2.date).getTime()
                );

            },
            numberMission() {
                return DataProvider.getData().length;
            },
        },
        methods: {
            closestAndFarthest() {
                let min = DataProvider.getDistanceBetween().toList.reduce((prev, curr) => {
                    return prev.distance < curr.distance ? prev : curr;
                });
                let max = DataProvider.getDistanceBetween().toList.reduce((prev, curr) => {
                    return prev.distance > curr.distance ? prev : curr;
                });

                document.getElementById(`row${min.id}`).className = "minDistance";
                document.getElementById(`row${max.id}`).className = "maxDistance";
            }
        }
    }
</script>

<style scoped>
    .missionsReportWrapper {
        padding: 5px;
        background-color: #FAFAFA;
    }

    table {
        border: 1px solid #e0e0e0;
        width: 100%;
        border-collapse: collapse;
    }


    th {
        background-color: #FAFAFA;
        text-align: left;
        font-size: 12px;
        padding-left: 15px;
        position: relative;
    }

    th:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 70%;
        background-color: #d6d6d6;
        top: 5px;
        LEFT: -1px;
    }

    th:first-child:before {
        background-color: transparent;
    }


    tr:first-child {
        border-bottom: 2px solid #ddd;
    }

    tr:last-child {
        border-top: 2px solid #ddd;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }


    th, td {
        padding: 10px 5px;
    }

    .lastRow {
        background-color: #FAFAFA;
        text-align: right;
        font-size: 14px;
        padding-right: 20px;
    }

    .maxDistance {
        color: red;
    }

    .minDistance {
        color: green;
    }

    .distanceBtn {
        padding: 5px;
        margin: 5px;
        background-image: linear-gradient(to right, #fa5d29 0%, #f42602 51%, #faa800 100%);
    }
</style>