<template>
    <div id="app">
        <h1>TIKAL TEST</h1>
        <isolation-agents v-if="isolationAgent"></isolation-agents>
        <button class="btn"
                @click="isolationAgent = !isolationAgent">
            Show/Hidden isolation-agent
        </button>
        <hr>
        <missions-report
                v-if="missionReport">
        </missions-report>

        <button class="btn"
                @click="missionReport = !missionReport">
            Show/Hidden Missions Report
        </button>

    </div>
</template>

<script>


    import MissionsReport from "./components/MissionsReport";
    import IsolationAgents from "./components/IsolationAgents";

    export default {
        name: 'app',
        components: {IsolationAgents, MissionsReport},
        data() {
            return {
                missionReport: false,
                isolationAgent: false
            }
        },
    }
</script>

<style lang="scss">
    body {
        margin: 0;
        padding: 0;
    }

    #app {
        width: 80%;
        margin: 0 auto;
    }
    h1{
      text-align: center;
        margin: 20px;
        padding: 5px;
    }
    .btn {
        display: block;
        margin: 0 auto;
        padding: 10px;
        background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    }
</style>
